%br
%br
%p
  The first match of World Cup 2014 will be held on June 14, 2014 in Fortaleza. 

%p
  The final match of World Cup 2014 will be held on July 13, 2014 in Rio de Janeiro.

%br
%br


- @itineraries.each do |itinerary|
  / %br
  / Itinerary ID: #{itinerary.id}
  %br
  Arrival Date: #{itinerary.start_date}
  %br
  Departure Date: #{itinerary.end_date}
  %br
  = link_to 'show me this itinerary', user_itinerary_path(current_user.id, itinerary.id), class: 'button'
  %br

