%p
  The first match of World Cup 2014 will be held on June 14, 2014 in Fortaleza. 

%p
  The final match of World Cup 2014 will be held on July 13, 2014 in Rio de Janeiro.

%a{href:"/itineraries/new"}Plan your trip today!
%br
%br
%br


- @itineraries.each do |itinerary|
  Itinerary ID: #{itinerary.id}
  %br
  Arrival Date: #{itinerary.start_date}
  %br
  Departure Date: #{itinerary.end_date}
  %br

  %br

