

%p
  The first match of World Cup 2014 will be held on 
  %a{href:"/games/83"} June 14, 2014 in 
  %a{href:"cities/24"} Fortaleza. 

%p
  The final match of World Cup 2014 will be held on: 
  %a{href:"games/128"} July 13, 2014 in 
  %a{href:"cities/13"} Rio de Janeiro.

%a{href:"/itineraries/new"}Plan your trip today!
%br
%br
%br

- @itineraries.each do |itinerary|
  / #{itinerary.user.name}
  Itinerary ID: #{itinerary.id}
  Arrival Date: #{itinerary.start_date}
  Departure Date: #{itinerary.end_date}
  %br


