%br
%br
.large-5.columns
%p
  The first match of World Cup 2014 will be held on June 14, 2014 in Fortaleza. 

%p
  The final match of World Cup 2014 will be held on July 13, 2014 in Rio de Janeiro.

%p   
  Plan your trip to Brazil!
 
  = render :partial => "/itineraries/partials/form"