/ %br
/ %br
/ %img(src="/worldcuplogo.jpg")
/ %br
/ %br
/ %br
/ %br
/ %div.intro
/   %p Get excited about World Cup 2014!
/   %p Check out info about host cities and stadiums
/   %p See the full game schedule!
/   %p.bottom Plan your own trip to Brazil!

%br
%br
%img(src="/worldcuplogo.jpg")
%br
%br
%br
%br
%div.intro
  %p Get excited about World Cup 2014!
  %p 
    %a{href:"/cities"}Check out info about host cities and stadiums
  %p
    %a{href:"/games"} See the full game schedule!
  %p.bottom  
  %a{href:"/users/new"} Sign up to plan your own trip to Brazil!