%img(src="/worldcuplogo.jpg")
%br
%br
%br
%br
%div.intro
  %p Get excited about World Cup 2014!
  %p Check out info about host cities and stadiums
  %p See the full game schedule!
  %p.bottom Plan your own trip to Brazil!

