%img(src="/worldcuplogo.jpg")
%br
%br
%br
%br
%div.intro
  %p Get excited about World Cup 2014!
<<<<<<< HEAD
  %p Check out info about host cities and stadiums
  %p See the full game schedule!
  %p.bottom Plan your own trip to Brazil!
=======
  %p Check out info about host cities and stadiums, see the full game schedule!
>>>>>>> 514c211e2ea27ab669e72f1515c4fc107d99ebc0
