/*.row .columns {
  background-color: red;  
}*/

/*img {
  height: 100px;
  width: 100px;
}*/

body {
  margin-bottom: 5px;
/*  margin-top: 20px;*/
  font-family: cambria;
  line-height: 16px;
/*  background: url('http://c1038.r38.cf3.rackcdn.com/group2/building12235/media/04p8p68.jpg') no-repeat center center fixed;
*/  /*background-size: cover;*/
}
.sched {
  line-height: 20px;
}

/*.c_info {
  border-bottom: 1px;
}*/

form#new_user.new_user {
  width:350px;
}

.bottom {
  margin-bottom: 2px;
}

.row {
  max-width: 95%;
  margin-top: 15px;
  margin-bottom: 2px;
}
.intro {
  padding: 7px;
  background: rgba(000, 000, 000, 0.1);
  /*border: 1px solid #589c21;*/
}

.sidebar {
  text-align: center;
}

.cityimage {
  max-width: 100%;
  max-height: 100%;
}

/*footer {
  background: url("http://wakpaper.com/large/Fields_wallpapers_46.jpg");
}*/

a {
  color: black;
  font-family: 'lato', sans-serif;
  font-weight: normal;
}

a:hover {
  color: #589c21;
}

.alignleft {
  text-align: right;
  margin-bottom: 0px;
}

.alignright {
  text-align: left; 
  margin-bottom: 0px;
}
.row.logout {
  margin-top: 0px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 0px;
}

.login {
  padding-right: 7px;
  border-right: 1px solid #589c21;
}
.signup {
  padding-right: 7px;
  border-right: 1px solid #589c21;
}
.trip {
  padding-right: 7px;
  border-right: 1px solid #589c21;
}
.itinerary {
  padding-right: 7px;
  border-right: 1px solid #589c21;
}
.city {
  padding-right: 7px;
  border-right: 1px solid #589c21;
}
.game {
  padding-right: 7px;
  border-right: 1px solid #589c21;
}
.games {
  height: 700px;
  overflow-y: scroll;
}
.large-4.columns {
  height: 700px;
  overflow-y: scroll;
  margin-bottom: 30px;
  line-height: 23px;
}

.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid yellow;
/*width: 1206.5px;*/


}

.navbar {
  margin-bottom: 20px;
  background: white;
  margin-top: 20px;
/*  box-sizing: border-box;*/
  box-shadow: 0 2px 2px -2px gray;
  box-shadow: 0 2px 2px -2px green;
}

.content {
  margin-top: 30px;
  height: 700px;
/*  margin-bottom: 10px;*/
  background: rgba(255, 255, 255, 0.5), url("http://us.123rf.com/400wm/400/400/2nix/2nix1205/2nix120500145/14512938-white-stripe-on-the-green-soccer-field-from-top-view.jpg"); 
}

a.button {
  background: #589c21;
  font-family: 'lato', sans-serif;
}

a.button:hover {
  background-color: #ffe600;
  color: #589c21;
}

.large-12.columns {
  background-color: white;
}

hr.one {
  border-top-color: #589c21;
}

hr.two {
  border-top-color: yellow;
}

