/*.row .columns {
  background-color: red;  
}*/

.row {
  max-width: 95%;
  margin-top: 15px;
}

.sidebar {
  text-align: center;
}

a {
  color: black;
}

.alignleft {
  text-align: right;
}

.alignright {
  text-align: left; 
}

.login {
  padding-right: 7px;
  border-right: 1px solid #16222c;
}
.signup {
  padding-right: 7px;
  border-right: 1px solid #16222c;
}
.trip {
  padding-right: 7px;
  border-right: 1px solid #16222c;
}
.itinerary {
  padding-right: 7px;
  border-right: 1px solid #16222c;
}
.city {
  padding-right: 7px;
  border-right: 1px solid #16222c;
}
/*.game {
  border-right: 1px solid #16222c;
}*/

.navbar {
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 2px -2px gray;
}

.content {
  margin-top: 30px;
}

/*box-shadow: h-shadow v-shadow blur spread color inset;*/
/*map.set('styles', [
  {
    featureType: 'road',
    elementType: 'geometry',
    stylers: [
      { color: '#000001' },
      { weight: 1.6 }
    ]
  }, {
    featureType: 'road',
    elementType: 'labels',
    stylers: [
      { saturation: -100 },
      { invert_lightness: true }
    ]
  }, {
    featureType: 'landscape',
    elementType: 'geometry',
    stylers: [
      { hue: '##efec9f' },
      { gamma: 1.4 },
      { saturation: 82 },
      { lightness: 96 }
    ]
  }, {
    featureType: 'poi.school',
    elementType: 'geometry',
    stylers: [
      { hue: '#fff700' },
      { lightness: -15 },
      { saturation: 99 }
    ]
  }
]);*/